<div style="display: flex; flex-direction: column; height: 600px;justify-content: center;align-items: center;">
  <h1 style="color:   #154646;">{{title}}</h1>
  <div class="mycalc">
    <input #box (keyup.enter)="calcValue(box.value)" [(ngModel)]="toshow" type="text" />
    <div class="all-btn">
      <div class="all-btn-no">
        <button (click)="writeInput('1')">1</button>
        <button (click)="writeInput('2')">2</button>
        <button (click)="writeInput('3')">3</button>
        <button (click)="writeInput('4')">4</button>
        <button (click)="writeInput('5')">5</button>
        <button (click)="writeInput('6')">6</button>
        <button (click)="writeInput('7')">7</button>
        <button (click)="writeInput('8')">8</button>
        <button (click)="writeInput('9')">9</button>
        <button (click)="writeInput('0')">0</button>
        <div class="btn-extra">
          <button (click)="writeInput('.')">.</button>
          <button (click)="backInput()" >back</button>
        </div>
      </div>
      <div class="all-btn-sign">
        <button (click)="writeInput('+')">+</button>
        <button (click)="writeInput('-')">-</button>
        <button (click)="writeInput('*')">*</button>
        <button (click)="writeInput('/')">/</button>
      </div>
    </div>
    <div class="btn-cl-eq">
      <button id="clear" (click)="clear()">C</button>
      <button id="equals" (click)="equals()">=</button>
    </div>
  </div>
</div>
